{% extends "base.html" %}

{% block content %}
<div class="container my-5" style="position: relative;">
    
    <h1 class="text-center">Manage Slots</h1>
    <form id="slot-management-form" method="post" style="position: relative; z-index: 2;">
        <div class="text-center" style="margin-bottom: 48px;">
            <img src="{{ url_for('static', filename='images/slots.png') }}" alt="Slots Layout" style="width: 700px; height: auto;" />
        </div>
        {% for slot in slots %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Slot {{ slot.s_slotid }}</h5>
                <div class="mb-3">
                    <label for="pill-name-{{ slot.s_slotid }}">Pill Name:</label>
                    <input type="text" class="form-control" id="pill-name-{{ slot.s_slotid }}" name="pill-name-{{ slot.s_slotid }}" value="{{ slot.pillname }}">
                </div>
                <div class="mb-3">
                    <label for="pill-count-{{ slot.s_slotid }}">Pill Count:</label>
                    <input type="number" class="form-control" id="pill-count-{{ slot.s_slotid }}" name="pill-count-{{ slot.s_slotid }}" value="{{ slot.s_pillnum }}">
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
    <!-- Background image container -->
    <div class="slots-background"></div>
</div>
{% endblock %}
{% block styles %}
<style>
  .fixed-size-image {
    width: 700px; /* Set the desired width */
    height: auto; /* Set height to auto to maintain aspect ratio */
  }
</style>
{% endblock %}