{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block hero %}
    <div class="text-center hero my-5">
        <h1>Welcome, {{ current_user.name }}</h1>
        <p>Manage your medication efficiently and effectively.</p>
    </div>
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row">
            <!-- User Details Panel -->
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        Account Details
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email: {{ current_user.email }}</li>
                        <li class="list-group-item">Name: {{ current_user.name }}</li>
                        <li class="list-group-item">Age: {{ current_user.age }}</li>
                        <!-- Other user details -->
                    </ul>
                </div>
            </div>

            <!-- Medication Slots Panel -->
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header">Medication Slots</div>
                    <ul class="list-group list-group-flush">
                        {% for slot in slots %}
                        <li class="list-group-item">
                            Slot {{ slot.s_slotid }}: {{ slot.pillname if slot.pillname else 'No medication' }} has {{ slot.s_pillnum }}
                        </li>
                        {% else %}
                        <li class="list-group-item">No slots configured</li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer text-center">
                        <a href="{{ url_for('slots.manage_slots') }}" class="btn btn-primary">Manage Slots</a>
                    </div>
                </div>
            </div>

            <!-- Upcoming Reminders Panel -->
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">Upcoming Reminders</div>
                    <div class="card-body p-0">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Slot ID</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Alarm Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for slot in slots %}
                                    {% if reminders_list[slot.slot_id] %}
                                        {% for reminder in reminders_list[slot.slot_id] %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>Slot {{ reminder['slot_id'] }}</td>
                                                <td>{{ reminder['quantity'] }} pills</td>
                                                <td>{{ reminder['alarm_time'] | dateformat('%b %d, %Y at %I:%M %p') }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="4" class="text-center">No reminders set for Slot {{ slot.slot_id }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                            
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ url_for('reminders.display_reminders') }}" class="btn btn-primary">Manage Reminders</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
